---
---

@import "{{ site.theme }}";

section{
  margin-top: 0px;
}
a {
  color: #2483C6;
}
code {
  color: #ffcc00;
  background: #191919;
  border: 1px solid #121212;
}
pre code{
  color: #ffcc00;
  background: none;
}
ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.nav li{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}
