---
---

@import "{{ site.theme }}";

section{
  margin-top: 0px;
}
a {
  color: #2483C6;
}
ul.nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.nav li{
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}
